<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
        <div class="row">
            <div class="col-md-2">Name:</div>
            <div class="col-lg-3" th:utext="${name}"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Balance:</div>
            <div class="col-lg-3">$
                <span th:utext="${balance}"></span>
            </div>
        </div>
        <div style="padding-top: 5px">
            <a th:href="@{/transaction}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Transaction
                Logs</i></a>
        </div>
        <div style="padding-top: 5px">
            <a th:href="@{/withdraw}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Withdraw</i></a>

        </div>
        <div style="padding-top: 5px">
            <a th:href="@{/transfer}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Transfer</i></a>

        </div>
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>